.section-features {
	padding: 200px 0;
	background-image: 
		linear-gradient(
			to right bottom, 
			rgba(126, 213, 111, 0.8), 
			rgba(40, 180, 131, 0.8)), 
		url(../img/wave.jpg);
	background-size: cover;
	background-position: top;

	transform: skewY(-7deg);
	margin-top: -75px;
}

.section-features > * {
	transform: skewY(7deg);
}

.feature-box {
	background-color: rgba(255, 255, 255, .7);
	font-size: 15px;
	padding: 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
	transition: all .3s;
	min-height: 100%;
	cursor: pointer;
}

.feature-box:hover {
	transform: translateY(-15px) scale(1.05);
}

.feature-box-icon {
	font-size: 50px;
	background-image: 
		linear-gradient(
			to right bottom, 
			rgba(126, 213, 111, 0.8), 
			rgba(40, 180, 131, 0.8));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}