footer {
	background-color: #333;
	padding: 100px 0;
	font-size: 14px;
}

@media (max-width: 56.25em) {
	footer {
		padding: 60px 0;
	}
}

@media (max-width: 37.5em) {
	footer {
		padding: 40px 0;
	}
}

.footer-logo-box {
	text-align: center;
	margin-bottom: 80px;
}

.footer-logo {
	width: 150px;
	height: 150px;
}

.footer-navigation {
	border-top: 2px solid #777;
	padding-top: 25px;
	float: left;
}

.footer-copyright {
	border-top: 2px solid #777;
	padding-top: 25px;
	float: right;
}

@media (max-width: 56.25em) {
	.footer-navigation {
		width: 100%;
		text-align: center;
	}

	.footer-copyright {
		width: 100%;
		float: none;
		text-align: center;
	}
}

.footer-list {
	list-style: none;
}

.footer-item {
	display: inline-block;
}

.footer-item:not(:last-child) {
	margin-right: 15px;
}

.footer-link:link,
.footer-link:visited {
	color: #f7f7f7;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: all .2s;
}

.footer-link:hover,
.footer-link:active {
	color: rgba(41,152,255);
	border-bottom: 2px solid rgba(41,152,255, .8);
}